<!DOCTYPE html>
<html lang="en" xmlns:src="http://www.w3.org/1999/xhtml">
<head>
    <title>Users</title>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">

</head>
<body>
<div class="container">
    <h1>Vue JS CRUD USER</h1>
    <main id="app">
        <router-view></router-view>
    </main>
</div>
<template id="user-list">
    <div>
        <div class="actions">
            <a class="btn btn-default">
                <router-link :to="{path: '/add-user'}">
                    <span class="glyphicon glyphicon-plus"></span>
                    Add user
                </router-link>
            </a>
        </div>
        <div class="filters row">
            <div class="form-group col-sm-3">
                <label for="search-element">User name or email</label>
                <input v-model="searchKey" class="form-control" id="search-element" requred/>
            </div>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Avatar</th>
                <th class="col-sm-2">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="user in filteredUsers">
                <td>
                    <a>
                        <router-link :to="{name: 'user-show', params: {user_id: user.id}}">{{ user.name }}</router-link>
                    </a>
                </td>
                <td>
                    {{ user.email }}
                </td>
                <td>
                    <img v-if="user.avatar" :src="user.avatar" class="show-img"/>

                </td>
                <td>
                    <a class="btn btn-light btn-xs">
                        <router-link :to="{name: 'user-show', params: {user_id: user.id}}"><i data-v-bf5d2bb8=""
                                                                                              class="glyphicon glyphicon-eye-open"></i>
                        </router-link>
                    </a>
                    <a class="btn btn-light btn-xs">
                        <router-link :to="{name: 'user-edit', params: {user_id: user.id}}"><i data-v-bf5d2bb8=""
                                                                                              class="glyphicon glyphicon-pencil"></i>
                        </router-link>
                    </a>
                    <a class="btn btn-light btn-xs">
                        <router-link :to="{name: 'user-delete', params: {user_id: user.id}}"><i data-v-bf5d2bb8=""
                                                                                                class="glyphicon glyphicon-trash"></i>
                        </router-link>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>


<template id="add-user">
    <div>
        <h2>Add new User</h2>
        <form v-on:submit="addUser">
            <div class="form-group">
                <label for="add-name">Name</label>
                <input class="form-control" id="add-name" v-model="user.name" required/>
            </div>
            <div class="form-group">
                <label for="add-email">Email</label>
                <input  type="email" class="form-control" id="add-email" v-model="user.email"/>
            </div>
            <div>
                <img v-if="previewImage" :src="previewImage" class="uploading-image" />
                <input type="file" accept="image/jpeg" v-on:change="uploadImage">
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
            <a class="btn btn-default">
                <router-link to="/">Cancel</router-link>
            </a>
        </form>
    </div>
</template>

<template id="user-edit">
    <div>
        <h2>Edit user</h2>
        <form v-on:submit="updateUser">
            <div class="form-group">
                <label for="edit-name">Name</label>
                <input class="form-control" id="edit-name" v-model="user.name" required/>
            </div>
            <div class="form-group">
                <label for="edit-email">Email</label>
                <input type="email" class="form-control" id="edit-email" v-model="user.email"/>
            </div>
            <div>
                <img v-if="previewImage" :src="previewImage" class="uploading-image" />
                <input type="file" accept="image/jpeg" v-on:change="uploadImage">
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
            <a class="btn btn-default">
                <router-link to="/">Cancel</router-link>
            </a>
        </form>
    </div>
</template>

<template id="user-delete">
    <div>
        <h2>Delete user {{ user.name }}</h2>
        <form v-on:submit="deleteUser">
            <p>The action cannot be undone.</p>
            <button type="submit" class="btn btn-danger">Delete</button>
            <a class="btn btn-default">
                <router-link to="/">Cancel</router-link>
            </a>
        </form>
    </div>
</template>

<template id="show-user">
    <div>
        <div>{{ user.name }}</div>
        <div>{{ user.email }}</div>
        <div>{{ user.avatar }}</div>
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
        <a>
            <router-link to="/">Back to user list</router-link>
        </a>
    </div>
</template>

</body>
</html>

<script>
    let users = [
        {
            "id": 1,
            "name": "Leanne Graham",
            "username": "Bret",
            "email": "Sincere@april.biz",
            "address": {
                "street": "Kulas Light",
                "suite": "Apt. 556",
                "city": "Gwenborough",
                "zipcode": "92998-3874",
                "geo": {
                    "lat": "-37.3159",
                    "lng": "81.1496"
                }
            },
            "phone": "1-770-736-8031 x56442",
            "website": "hildegard.org",
            "company": {
                "name": "Romaguera-Crona",
                "catchPhrase": "Multi-layered client-server neural-net",
                "bs": "harness real-time e-markets"
            }
        },
        {
            "id": 2,
            "name": "Ervin Howell",
            "username": "Antonette",
            "email": "Shanna@melissa.tv",
            "address": {
                "street": "Victor Plains",
                "suite": "Suite 879",
                "city": "Wisokyburgh",
                "zipcode": "90566-7771",
                "geo": {
                    "lat": "-43.9509",
                    "lng": "-34.4618"
                }
            },
            "phone": "010-692-6593 x09125",
            "website": "anastasia.net",
            "company": {
                "name": "Deckow-Crist",
                "catchPhrase": "Proactive didactic contingency",
                "bs": "synergize scalable supply-chains"
            }
        },
        {
            "id": 3,
            "name": "Clementine Bauch",
            "username": "Samantha",
            "email": "Nathan@yesenia.net",
            "address": {
                "street": "Douglas Extension",
                "suite": "Suite 847",
                "city": "McKenziehaven",
                "zipcode": "59590-4157",
                "geo": {
                    "lat": "-68.6102",
                    "lng": "-47.0653"
                }
            },
            "phone": "1-463-123-4447",
            "website": "ramiro.info",
            "company": {
                "name": "Romaguera-Jacobson",
                "catchPhrase": "Face to face bifurcated interface",
                "bs": "e-enable strategic applications"
            }
        },
        {
            "id": 4,
            "name": "Patricia Lebsack",
            "username": "Karianne",
            "email": "Julianne.OConner@kory.org",
            "address": {
                "street": "Hoeger Mall",
                "suite": "Apt. 692",
                "city": "South Elvis",
                "zipcode": "53919-4257",
                "geo": {
                    "lat": "29.4572",
                    "lng": "-164.2990"
                }
            },
            "phone": "493-170-9623 x156",
            "website": "kale.biz",
            "company": {
                "name": "Robel-Corkery",
                "catchPhrase": "Multi-tiered zero tolerance productivity",
                "bs": "transition cutting-edge web services"
            }
        },
        {
            "id": 5,
            "name": "Chelsey Dietrich",
            "username": "Kamren",
            "email": "Lucio_Hettinger@annie.ca",
            "address": {
                "street": "Skiles Walks",
                "suite": "Suite 351",
                "city": "Roscoeview",
                "zipcode": "33263",
                "geo": {
                    "lat": "-31.8129",
                    "lng": "62.5342"
                }
            },
            "phone": "(254)954-1289",
            "website": "demarco.info",
            "company": {
                "name": "Keebler LLC",
                "catchPhrase": "User-centric fault-tolerant solution",
                "bs": "revolutionize end-to-end systems"
            }
        },
        {
            "id": 6,
            "name": "Mrs. Dennis Schulist",
            "username": "Leopoldo_Corkery",
            "email": "Karley_Dach@jasper.info",
            "address": {
                "street": "Norberto Crossing",
                "suite": "Apt. 950",
                "city": "South Christy",
                "zipcode": "23505-1337",
                "geo": {
                    "lat": "-71.4197",
                    "lng": "71.7478"
                }
            },
            "phone": "1-477-935-8478 x6430",
            "website": "ola.org",
            "company": {
                "name": "Considine-Lockman",
                "catchPhrase": "Synchronised bottom-line interface",
                "bs": "e-enable innovative applications"
            }
        },
        {
            "id": 7,
            "name": "Kurtis Weissnat",
            "username": "Elwyn.Skiles",
            "email": "Telly.Hoeger@billy.biz",
            "address": {
                "street": "Rex Trail",
                "suite": "Suite 280",
                "city": "Howemouth",
                "zipcode": "58804-1099",
                "geo": {
                    "lat": "24.8918",
                    "lng": "21.8984"
                }
            },
            "phone": "210.067.6132",
            "website": "elvis.io",
            "company": {
                "name": "Johns Group",
                "catchPhrase": "Configurable multimedia task-force",
                "bs": "generate enterprise e-tailers"
            }
        },
        {
            "id": 8,
            "name": "Nicholas Runolfsdottir V",
            "username": "Maxime_Nienow",
            "email": "Sherwood@rosamond.me",
            "address": {
                "street": "Ellsworth Summit",
                "suite": "Suite 729",
                "city": "Aliyaview",
                "zipcode": "45169",
                "geo": {
                    "lat": "-14.3990",
                    "lng": "-120.7677"
                }
            },
            "phone": "586.493.6943 x140",
            "website": "jacynthe.com",
            "company": {
                "name": "Abernathy Group",
                "catchPhrase": "Implemented secondary concept",
                "bs": "e-enable extensible e-tailers"
            }
        },
        {
            "id": 9,
            "name": "Glenna Reichert",
            "username": "Delphine",
            "email": "Chaim_McDermott@dana.io",
            "address": {
                "street": "Dayna Park",
                "suite": "Suite 449",
                "city": "Bartholomebury",
                "zipcode": "76495-3109",
                "geo": {
                    "lat": "24.6463",
                    "lng": "-168.8889"
                }
            },
            "phone": "(775)976-6794 x41206",
            "website": "conrad.com",
            "company": {
                "name": "Yost and Sons",
                "catchPhrase": "Switchable contextually-based project",
                "bs": "aggregate real-time technologies"
            }
        },
        {
            "id": 10,
            "name": "Clementina DuBuque",
            "username": "Moriah.Stanton",
            "email": "Rey.Padberg@karina.biz",
            "address": {
                "street": "Kattie Turnpike",
                "suite": "Suite 198",
                "city": "Lebsackbury",
                "zipcode": "31428-2261",
                "geo": {
                    "lat": "-38.2386",
                    "lng": "57.2232"
                }
            },
            "phone": "024-648-3804",
            "website": "ambrose.net",
            "company": {
                "name": "Hoeger LLC",
                "catchPhrase": "Centralized empowering task-force",
                "bs": "target end-to-end models"
            }
        }
    ];

    function findUser(userId) {
        return users[findUserKey(userId)];
    }

    function findUserKey(userId) {
        for (var key = 0; key < users.length; key++) {
            if (users[key].id === userId) {
                return key;
            }
        }
    }

    let List = Vue.extend({
        template: '#user-list',
        data:  function () {
            return {users: users, searchKey: ''};
        },
        computed: {
            filteredUsers() {
                const filterKeys = ['email', 'name'];
                const multiFilter = (data = [], filterKeys = [], value = '') => data.filter((item) => filterKeys.some(key => item[key].toString().toLowerCase().includes(value.toLowerCase()) && item[key]));
                return filteredData = multiFilter(this.users, filterKeys, this.searchKey);
            }
        }
    });

    let UserEdit = Vue.extend({
        template: '#user-edit',
        data: function () {
            return {user: findUser(this.$route.params.user_id),  previewImage:null};
        },
        methods: {
            updateUser: function () {
                let user = this.user;
                users[findUserKey(user.id)] = {
                    id: user.id,
                    name: user.name,
                    avatar: this.previewImage,
                    email: user.email
                };
                router.push('/');
            },
            uploadImage(e){
                const image = e.target.files[0];
                const reader = new FileReader();
                reader.readAsDataURL(image);
                reader.onload = e =>{
                    this.previewImage = e.target.result;
                };
            }
        }
    });

    let UserDelete = Vue.extend({
        template: '#user-delete',
        data: function () {
            return {user: findUser(this.$route.params.user_id)};
        },
        methods: {
            deleteUser: function () {
                users.splice(findUserKey(this.$route.params.user_id), 1);
                router.push('/');
            }
        }
    });

    let AddUser = Vue.extend({
        template: '#add-user',
        data: function () {
            return {
                user: {
                    name: '',
                    avatar: '',
                    email: '',
                },  previewImage:null
            }
        },
        methods: {
            addUser: function () {
                let user = this.user;
                users.push({
                    id: Math.random().toString().split('.')[1],
                    name: user.name,
                    avatar: this.previewImage,
                    email: user.email,
                });

                router.push('/');

            },
            uploadImage(e){
                const image = e.target.files[0];
                const reader = new FileReader();
                reader.readAsDataURL(image);
                reader.onload = e =>{
                    this.previewImage = e.target.result;
                };
            }
        }
    });
    let UserShow = Vue.extend({
        template: '#show-user',
        data: function () {
            return {user: findUser(this.$route.params.user_id)};
        },
    });
    let router = new VueRouter({
        routes: [
            {path: '/', component: List},
            {path: '/add-user', component: AddUser},
            {path: '/user/:user_id/show', component: UserShow, name: 'user-show'},
            {path: '/user/:user_id/edit', component: UserEdit, name: 'user-edit'},
            {path: '/user/:user_id/delete', component: UserDelete, name: 'user-delete'}
        ]
    });
    new Vue({
        router
    }).$mount('#app')
</script>